/main.class
/Item.class
/ItemList.class
/main$1.class
/Main.class
/Main$1.class
/menu.class
/Menu.class
/ItemListController.class
/LinkedList.class
/Serialize.class
/Serializer.class
/AddingMenu.class
/RemovingMenu.class
/PrintingMenu.class
/Categories.class
